# OS
.DS_Store
Thumbs.db

# Node
node_modules/
yarn-error.log
npm-debug.log

# Build
lib/
dist/
*.tsbuildinfo

# Android
android/build/
android/.gradle/
android/.cxx/
*.iml
local.properties

# iOS
ios/build/
*.xcuserdata
Pods/
DerivedData/

# IDE
.idea/
.vscode/
*.swp

# Metro / RN
.metro-health-check*
